<div class="center hero-unit">
        <h3>Pre-Registration</h3>
        <h5>Courses you have Requested!</h5>
        <h6>To request any course proceed to the course list!</h6>

        <p>
        <div align="right" class="btn-group">
                <%= link_to "Current Registration", student_current_registration_path, class: "btn btn-large btn-success" %>
        </div>
        <table class="center table">
                <tr class="info"><td>Course</td><td>Title</td><td>Units</td><td>Action</td></tr>
			
                <% @prereg_courses.each do |course| %>
                <tr>
                  <td><%=course.course.number%></td>
                  <td><%=course.course.name%></td>
                  <td><%=course.credit%></td>
                  <td><%= button_to "Remove from Form", {:action => "delete",
        :controller => "student/pre_registration", :id => 
        course.id} , {:class => "btn btn-danger"} %></td>
                </tr>
                <%end%>
                
        </table>
        <%= @is_submitted %>
        <%= if @is_accepted then
            "Accepted"
            elsif @is_submitted then
              button_to "Withdraw", {:action => "withdraw",
            :controller=> "student/pre_registration"} , {:class =>
            "btn btn-large btn-warning"} 
            else 
              button_to "Submit Form", {:action => "submit",
            :controller=> "student/pre_registration"} , {:class =>
            "btn btn-large btn-primary"} unless @prereg_courses.empty?
        end %> 
</div>
