<div class="hero-unit">
        <h3 align="center">Always keep your Personal Information Updated! :)</h3>
<div class="btn-group">
                <button class="btn btn-large btn-primary dropdown-toggle" align="left" data-toggle="dropdown">Academic Information
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                        <li><%= link_to "Transcript", student_transcript_path   %></li>
                        <li><%= link_to "Backlog List", student_backlog_list_path   %></li>
                        <li class="divider"></li>
                        <li><%= link_to "Student Information", student_personal_info_path   %></li>
                </ul>
              </div>

        <p>
        <table class="table">
            <tr><td width="200">Roll Number :</td><td width="300"><%= current_student.roll %></td></tr>
                <tr><td>Name :</td><td><%= current_student.name %></td></tr>
                <tr><td>Email :</td><td><%= current_student.email %></td></tr>
                <tr><td>Telephone :</td><td><%= current_student.phone %></td></tr>
        </table>
        </p>
        
        <p align="left">
                <%= link_to "Update Info", edit_student_registration_path, class: "btn btn-link btn-large btn-danger" %>
        </p>
        
</div>



<%= link_to image_tag("rails.png", alt: "Rails"), 'http://iitk.ac.in/' %>

