<div class="hero-unit">
        
        <div class="btn-group">
                <button class="btn btn-large btn-primary dropdown-toggle" data-toggle="dropdown">Academic Information
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                        <li><%= link_to "Transcript", student_transcript_path   %></li>
                        <li><%= link_to "Backlog List", student_backlog_list_path   %></li>
                        <li class="divider"></li>
                        <li><%= link_to "Student Information", student_personal_info_path   %></li>
                </ul>
        </div>
        
        <h4 align="center">Your Transcript</h4>
        <!-- set the column width as per convinence -->
        <p>
        <table class="center table table-striped">
        <col width="60"><col width="80"><col width="5"><col width="5">
        <tr class="info"><td>Course</td><td>  Title </td><td>Units</td><td>Grade</td></tr>
        </table>
        <!-- loops over number of Semester <% %> -->
        <% @semesters.each do |sem| %>
        <p align="center">Semester <%=sem[:number]%></p> </br> <p align="right"> CPI = <%=sem[:cpi]%> SPI = spi </p>
        <table class="center table">
        <col width="20"><col width="60"><col width="5"><col width="5">
                <!-- loop over courses <%  %> -->
                <% sem[:courses].each do |course| %>
                <tr>
                  <td><%= course.course.number %></td>
                  <td><%= course.course.name %></td>
                  <td><%= course.credits %></td>
                  <td><% course.grade %></td>
                </tr>
                <!--end loop <% %> -->
                <% end %>
        </table>
        <% end %>
        </p>
</div>
