<%= form_tag("/views/students/search/", :method => "get") do %>
  <%= label_tag(:q, "Search Student:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<h1>Matched Students</h1>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Roll No</th>
      <th>Name</th>
      <th>Department</th>
    </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
  
  <tr>
      <th><%= link_to student.roll, student , :remote => true %></th>
      <th><%= link_to student.name, student , :remote => true %></th>
      <th><%= student.department.name %>
	  </th> 	
      <th>
      	
  
    <tr>
  <% end %>
  </tbody>
</table>
