<div class="center hero-unit">
        <h3>Apply <%=@template.name%> template to students</h3>
  <%= form_tag("/courses/add_template/", :method => "get") do %>
  	<%= label_tag(:name, "Template Name:") %>
  	<%= text_field_tag(:name) %><br>
  <%= submit_tag("Add Template") %>
<% end %>

        <p>
        Here are the existing Course Templates!!
         <table class="center table">
                <tr class="info"><td>TemplateName</td><td>Apply to Students</td><td>Modify</td><td>Delete</td></tr>
			
                <% @templates.each do |template| %>
                <tr>
                  <td><%=template.name%></td>
                  <td><%= link_to "Apply Template", {:action => "apply_template",
        :controller => "courses", :template_id => template.id} , {:class => "btn btn-small btn-success"}%></td>
                  <td><%= link_to "Modify Templete", {:action => "modify_template",
        :controller => "courses", :template_id => template.id} , {:class => "btn btn-small btn-primary"}%></td>
                  <td><%= link_to "Delete Templete", {:action => "delete_template",
        :controller => "courses", :template_id => template.id} , {:class => "btn btn-small btn-danger"}%></td>
                </tr>
                <%end%>
                
        </table>

</div>
