<div class="center hero-unit">
        <h3>Apply <%=@template.name%> template to students</h3>
  <%= form_tag("/courses/add_template_students/", :method => "get") do %>
  	<%= label_tag(:batch, "Batch:") %>
  	<%= text_field_tag(:batch) %><br>
  	<%= hidden_field_tag(:template_id,@template.id) %>
  <%= submit_tag("Add Batch") %>
<% end %>

        <p>
        <h5>Here are the existing students added to <%=@template.name%> template!!</h5>
         <table class="center table">
                <tr class="info"><td>Roll Number</td><td>Name</td></tr>
			
                <% @template.students.each do |student| %>
                <tr>
                  <td><%=student.roll%></td>
                  <td><%=student.name%></td>
                  
                <%end%>
                </table>
                <br><br><br>
<td><%= link_to "Done Adding Students", {:action => "view_templates",:controller => "courses"} , {:class => "btn btn-small btn-primary"}%></td>
        

</div>
