<%= form_tag("/courses/search", :method => "get") do %>
  <%= label_tag(:q, "Search Course:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Course Number</th>
      <th>Course Name</th>
    </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
    <tr>
        <th><%= link_to course.number, course, :remote => true %></th>
        <th><%= link_to course.name, course, :remote => true%></th>
    <tr>
  <% end %>
  </tbody>
</table>
