<%= form_tag "/courses/search", method: "get", class: "form-search" do %>
  <%= label_tag :q, "Search Course:" %>
  <%= text_field_tag :q, nil, :class => "input-medium search-query"  %>
  <%= submit_tag "Search", class: "btn" %>
<% end %>

<h1>Matched Courses</h1>
<div class="courses">
  <ul class="courses">
    <% @courses.each do |course| %>
    <li>
      <div class="course"> 
        <%= link_to course.number, course %>
        <%= link_to course.name, course %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
