<%= form_tag "/courses/search", method: "get", class: "form-search" do %>
  <%= label_tag :q, "Search Course:" %>
  <%= text_field_tag :q, nil, :class => "input-medium search-query"  %>
  <%= submit_tag "Search", class: "btn" %>
<% end %>

<h1>Matched Courses</h1>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Course Number</th>
      <th>Course Name</th>
    </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <th><%= link_to course.number, course %></th>
      <th><%= link_to course.name, course %></th>
    <tr>
  <% end %>
  </tbody>
</table>

