<div class="center hero-unit">
        <h3>Account</h3>

<% if current_faculty==current_faculty.department.dugc.faculty %>
You are dugc <br>
<% if current_faculty.department.acting_dugc.nil? %>
<%= form_tag("/faculties/transfer_role/" , :method => "post") do %>
<%= label_tag(:q, "Faculty Email :") %>
<%= email_field_tag(:q) %>
<%= submit_tag("Transfer Role") %>
<% end %>
<%end%>
<%= link_to "Approve Student Forms", registration_forms_path, class: "btn btn-large btn-success"%><br>To modify/introduce constraints<br>
<%= link_to "Course Constraints", view_templates_path, class: "btn btn-large btn-primary"%> 

<% else %>
 you are only a faculty
<% end %>

</div>

