<div class="center hero-unit">
        <%if !@courses_taken.empty?%>
        <h3>Your Courses Next semester </h3>
		<p>
		
        <table class="center table">
        <tr class="info"><td>Course</td><td>Title</td><td>Credit</td><td>Get Student List</td></tr>
                <% @courses_taken.each do |course| %>      
   			<tr><td><%= course.course.number %></td><td><%= link_to course.course.name, { :action => "course_description", :id => course.id} %></td><td><%=course.credit%></td><td><%=link_to "Get Student List",{ :action => "course_requests", :id => course.id}, {:class => "btn btn-mini btn-primary"}%></td></tr>
      		<% end %>
      	</table>
      	</p> 
        <%else%>
      	<p>	Hurray!! you don't have any course this semester<br></p>
      	<%end%>
               
</div>



<%= link_to image_tag("rails.png", alt: "Rails"), 'http://iitk.ac.in/' %>

