<div class="center hero-unit">
        <%if not @courses_taken.empty?%>
        <h3>Your Courses This semester </h3>
		<p>
        <table class="center table">
        <tr class="info"><td>Course</td><td>Title</td><td>Credit</td><td>Get Student List</td></tr>
                <% @courses_taken.each do |taken| %>      
                    <tr><td><%= link_to taken.course.number, 'course', :remote => true %></td>
                        <td><%= link_to taken.course.name, 'course', :remote => true %></td>
                        <td><%=taken.credits%></td><td><%=link_to "Get Student List",{ :action => "course_taking", :id => taken.course.id}, {:class => "btn btn-mini btn-primary"}%></td></tr>
      		<% end %>
      	</table>
      	</p> 
        <%else%>
      	<p>	Hurray!! you don't have any course this semester<br></p>
      	<%end%>
               
</div>



<%= link_to image_tag("rails.png", alt: "Rails"), 'http://iitk.ac.in/' %>

