<%= form_tag("/offered_courses/search/", :method => "get") do %>
  <%= label_tag(:q, "Search Course:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<h1>Offered Courses</h1>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Course Number</th>
      <th>Course Name</th>
      <th>Request Status</th>
      <th>Accept/Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| 
  	request=course.course_requests & current_student.course_requests%>
  <tr>
      <th><%= link_to course.course.number, course , :remote => true %></th>
      <th><%= link_to course.course.name, course , :remote => true %></th>
      <th><% if request.empty? %>
      		Not Requested
      		<% elsif request[0].status=="add" %>
      		request Pending
      		<% elsif request[0].status=="accepted" %>
      		Accepted
      		<% elsif request[0].status=="rejected" %>
      		Rejected
      		<%end%>
	  </th> 	
      <th>
      	
        <%= if request.any?
        		if request[0].status == "rejected"
           		button_to "Delete Request", {:remote => true, :action =>
            		"delete", :id => course.id }, {:id =>
        		course.id, :class => "btn btn-danger", :disabled =>"disabled"}
            	else
            		button_to "Delete Request", {:remote => true, :action =>
            		"delete", :id => course.id }, {:id =>
        		course.id, :class => "btn btn-danger"}
            	end
        else 
            button_to "Send Request", {:action => "add", :id =>
            course.id, :remote => true} , {:id => course.id, :class => "btn "} 
        end %>
      </th>
    <tr>
  <% end %>
  </tbody>
</table>

