    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "oars", root_path , id: "logo" %>
          <nav>
            <ul class="nav pull-right">
                <% if request.fullpath.match(/^\/students/)%>
                        <% if student_signed_in? %>
                                <li><%= link_to "Personal Information",    '#'%></li>
                                <li><%= link_to "Course",    '#'%></li>
                                <li><%= link_to "Current-Sem Registration",    '#' %></li>
                                <li><%= link_to "Pre-Registration",    '#'%></li>
                                <li><%= link_to "Add-Drop",    '#'%></li>
                                <li><%= link_to "Log Out",    student_sign_out_path %></li>
                        <% else %>
                                <li><%= link_to "Student Login",    student_sign_in_path %></li>
                                <li><%= link_to "Student Signup",    student_sign_up_path %></li>
                        <% end %>
                <% end %>
                <% if request.fullpath.match(/^\/faculties/)%>
                		<% if faculty_signed_in? %>
                				<li><%= link_to "Personal Information",    '#'%></li>
                                <li><%= link_to "Course",    '#'%></li>
                                <li><%= link_to "Current-Sem Registration",    '#' %></li>
                                <li><%= link_to "Pre-Registration",    '#'%></li>
                                <li><%= link_to "Add-Drop",    '#'%></li>
                                <li><%= link_to "Log Out",    faculty_sign_out_path %></li>
                        <% else %>
                        <li><%= link_to "Faculty Login",    faculty_sign_in_path %></li>
                        <li><%= link_to "Faculty Signup",    faculty_sign_up_path %></li>
                        <% end %>
                <% end %>
                
                
             </ul>
          </nav>
        </div>
      </div>
    </header>

