    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "oars", root_path , id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Student Login",    student_sign_in_path %></li>
              <li><%= link_to "Student Signup",    student_sign_up_path %></li>
              <li><%= link_to "Faculty Login",    faculty_sign_in_path %></li>
              <li><%= link_to "Faculty Signup",    faculty_sign_up_path %></li>
             </ul>
          </nav>
        </div>
      </div>
    </header>

