    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "oars", root_path , id: "logo" %>
          <nav>
            <ul class="nav pull-right">
                <% if student_signed_in? %>
                                <li><%= link_to "Personal Information", student_personal_info_path %></li>
                                <li><%= link_to "Course",    courses_path %></li>
                                <li><%= link_to "Registration",student_current_registration_path %></li>
                                <li><%= link_to "Time-Table",student_time_table_path%></li>
                                <li><%= link_to "Add-Drop",    student_add_drop_path%></li>
                                <li><%= link_to "Log Out",    student_sign_out_path %></li>
                <% end %>

                <% if faculty_signed_in? %>
                                <li><%= link_to "Personal Information", faculty_personal_info_path %>
                                <li><%= link_to "Course",    courses_path %></li>
                                <li><%= link_to "Registration",faculty_registration_path %></li>
                                <li><%=link_to "Pre-Registration/Add Drop", faculty_pre_registration_path %></li>                             
                                <li><%= link_to "Account",    '#'%></li>
                                <li><%= link_to "Log Out",    faculty_sign_out_path %></li>
                <% end %>
             </ul>
          </nav>
        </div>
      </div>
    </header>

